/* ------------------- */
/* FUENTES Y RESET */
/* ------------------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lora', serif; /* Elegante para títulos */
}

body {
    background-color: #f9f9f9;
    color: #1a1a1a;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.6;
}